* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

header {
    background-color: red;
    height: 100px;
    display: flex;
    justify-content: center;  
    align-items: center;
}
header > h1 {
    color: blue;
    font-size: 48px;
}
main {
    background-color: rgb(247, 234, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}
.container {
    height: 1750px;
    width: 1050px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.container > .fotos {
    height: 300px;
    width: 300px;
    color: aqua;
    background-color: aqua;

}
div.fotos > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 2.3s;
    filter: grayscale(100%);
}
div.fotos > img:hover {
    z-index: 3;
    float: right;
    transform: scale(1.5);
    filter: none;
    width: 250px;
    height: 250px;
}
footer{
    background-color: purple;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > span {
    color: white;
}